<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="style.css" rel="stylesheet" />
</head>

<body>
    <main class="mainbox">
        <form class="form" method="post">
            <h1 class="heading">Register Now</h1>
            <input class="name forminput" type="text" name="name" placeholder="Full Name" required>
            <input class="email forminput" type="email" name="email" placeholder="xyz@gmail.com" required>
            <input class="password forminput" type="password" name="password" placeholder="Password" required>

            <button class="submitbtn" type="submit">Sing Up</button>
        </form>
    </main>
</body>

</html>